exp_name: exp01
config_name: config01

device: "cuda"

wav2vec2:
  path: "./wav2vec2-base-960h"

dataset:
  cache_path: "./Dataset"
  datasets_list:
    - {file_name: zhuboshuolianbo, sample_mode: all, num_sample: 10, sample_weight: 1, loss_weight: 0.2} # sample_mode有all, sequential, random
    - {file_name: talk-vid, sample_mode: all, num_sample: 10, sample_weigth: 1, loss_weight: 0.2} 
    # - 'shanzhonglengyuewei'；talk-vid有1923个.pkl文件，zhuboshuolianbo有7866个.pkl文件
  seconds: 5
  load_flag: True
  use_processor: False

dataloader:
  batch_size: 512
  shuffle: False
  num_workers: 0
  pin_memory: False
  sampler:
    oversample_factor: 2
    replacement: True

model:
  input_dim: 768
  output_dim: 136
  num_layers: 11
  num_heads: 16
  ff_dim: 2048
  dropout: 0.1

training:
  optimizer:
    lr: 1e-4
    weight_deay: 1e-4
  scheduler:
    warmup_steps: 4000
    warmup_ratio: 0.1
    min_lr: 1e-6
  dataset_module_names:
    - zhuboshuolianbo
    - talk-vid
  epoches: 3000
  save_every_n_steps: 2000
  save_path: ${exp_name}/${config_name}

save_path: ${exp_name}/${config_name}/transformer_decoder.pth





save_path: "./Weights/transformer_decoder.pth"
  


